body {
    font-family: "winky sans", sans-serif;
    margin: 0;
}


/* Header styles */
header {
    background-color: #f2b625;
    padding: 1rem 10px;
}

header span {
    margin: 0;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

header p {
    margin: 0;
    color: #000;
    letter-spacing: .1px;
}

/* navigation */
nav {
    background-color: #25A9F5;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .60rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 700;
}

nav li.active a {
    background-color: #4C6675;
    color: #FFF;
}

nav li a:hover {
    color: #F5B625;
}

/* main */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #4C4C75;
    font-size: 2.5rem;
}

main h2 {
    color: #4C6675;
    margin-bottom: .2rem
}

main p {
    margin: 0 0 .3rem 0;
    color: #000;
}

main ol {
    padding: .65rem 30px;
    background-color: #efefef;
    border-style: dotted;
}

main dl dt {
    color: #75694C;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #000;
    font-size: .9rem;
    margin-left: 20px;

}

main h3 {
    color: #75694C;
}

main ul {
    list-style-type: circle;
}

main ul h3 {
    color: #75694C;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;

}

main address {
    font-style: normal;
    background-color: #F5B625;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #4C6675;
    width: 200px;
}

main a {
    color: #4C6675;

}

main a:hover {
    color: rgb(37, 37, 245);
}

/* image stuff */
figure.wrapped {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

/* gallery stuff here */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #376259;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

/* footer styles */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
}


footer p {
    margin: 0;
    letter-spacing: 3px;
}