/* prevent problems */
* {
    box-sizing: border-box;
}



body {
    font-family: "winky sans", sans-serif;
    margin: 0;
}


/* Header styles */
header {
    background-color: #f2b625;
    padding: 1rem 10px;
}

header span {
    margin: 0;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

header p {
    margin: 0;
    color: #000;
    letter-spacing: .1px;
}

/* small screenn navigation */
@media only screen and (max-width: 800px) {

    nav ul {
        margin: 0;
        padding: 0;

    }

    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #fff;
        text-decoration: none;
        border-bottom: solid 1px #4c6675;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #25A9F5;
    }

    nav .active a {
        background-color: #f5b625;
        color: white;
        background-image: linear-gradient(to top, #4c4c75, #4c6675);
    }
}


/* end small screen navigation */

/* large screen navigation */
@media only screen and (min-width: 801px) {
    nav {
        border-top: solid 1px #E0E6E6;

    }

    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: block;
        padding: 1.2rem 1rem .3rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #25A9F5;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 2px #fff;
    }

    nav .active a {
        border-bottom: solid 2px #25A9F5;
    }

    nav a:hover {
        color: #4c4c75;
    }
}

/* end large screen navigation */


/* main */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #4C4C75;
    font-size: 2.5rem;
}

main h2 {
    color: #4C6675;
    margin-bottom: .2rem
}

main p {
    margin: 0 0 .3rem 0;
    color: #000;
}

main ol {
    padding: .65rem 30px;
    background-color: #efefef;
    border-style: dotted;
}

main dl dt {
    color: #75694C;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #000;
    font-size: .9rem;
    margin-left: 20px;

}

main h3 {
    color: #75694C;
}

main ul {
    list-style-type: circle;
}

main ul h3 {
    color: #75694C;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;

}

main address {
    font-style: normal;
    background-color: #F5B625;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #4C6675;
    width: 200px;
}

main a {
    color: #4C6675;

}

hero {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

main a:hover {
    color: rgb(37, 37, 245);
}

/* image stuff */
figure.wrapped {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

.myForm fieldset {
    border: 1px solid #25A9F5;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #25A9F5;
    font-size: .8rem;
}

.myForm label {
    margin: .5rem;

}

.myForm label,
.myForm select,
.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm textarea {
    display: block;
}

.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm select,
.myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}

.myFormtextarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(253, 249, 240, 1);
}

.myForm [type=submit] {
    background-color: #43a0b6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

/* gallery stuff here */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #376259;
}

div.gallery img:hover {
    box-shadow: 0px 0px 20px rgba(37, 169, 245, 1);
}



/* footer styles */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
}


footer p {
    margin: 0;
    letter-spacing: 3px;
}

header,
nav,
main,
footer {
    max-width: 64rem;
    margin: 0 auto;
}